body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

#main-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

header h1 {
    font-size: 3em;
    color: #00eaff;
}

.neon-btn {
    background: #00eaff;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #00eaff;
    cursor: pointer;
    transition: 0.3s ease;
}

.neon-btn:hover {
    background-color: #333;
    color: #00eaff;
    box-shadow: 0 0 15px rgba(0, 234, 255, 0.75);
}

#track-container {
    display: flex;
    flex-direction: column;
}

.track {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.neon-panel {
    background: rgba(50, 50, 50, 0.8);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 234, 255, 0.5);
}

input[type="range"], input[type="file"] {
    background-color: transparent;
    border: none;
    color: #00eaff;
}

input[type="range"] {
    width: 100%;
}

button {
    padding: 12px 20px;
    background-color: #00eaff;
    border-radius: 5px;
    border: 2px solid #00eaff;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: #333;
    color: #00eaff;
    box-shadow: 0 0 10px rgba(0, 234, 255, 0.75);
}

#effects-container {
    display: flex;
    justify-content: space-between;
}

#effects-container button {
    width: 48%;
}
